*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
div{
margin: 50px;
text-align: center;
}
.show-modal1, .show-modal2, .show-modal3{
   position: relative;
   padding: 20px;
   border: 2px solid red;
   border-radius: 25px;
}
.modal h1{
    text-align: center;
    
}
.modal{
    display: none; 
    position: absolute;
    top: -15px;
    left: 410px;
    z-index: 17;
    border: 2px solid rgb(23, 22, 22);
    border-radius: 25px;
    margin-top:54px;
    height: 350px;
    width: 550px;
    background-color: red;
    text-indent: 20px;
    text-align: justify;

}
.close-modal{
    margin-left: 400px;
    margin-top: 50px;
    padding: 5px;
    border: none;
    background-color: rgb(251, 247, 241);
     color: red;
}
.show-modal1:hover{
background-color: rgb(230, 56, 56);
color: white;
cursor: pointer;

}
.show-modal3:hover{
    background-color: rgb(230, 56, 56);
    color: white;
    cursor: pointer;
    
    }
    .show-modal2:hover{
        background-color: rgb(230, 56, 56);
        color: white;
        cursor: pointer;
        
        }

.close-modal:hover{
    color:black;
    cursor: pointer;
}
 /* .modal{
    display: none;
}   */
@media only screen and (max-width: 800px){
    .show-modal1, .show-modal2, .show-modal3{
        position: relative;
        padding: 5px;
        border: 2px solid rgb(170, 0, 255);
        border-radius: 20px;
     }
}
@media only screen and (max-width: 800px){
    .show-modal1:hover, .show-modal2:hover, .show-modal3:hover{
        background-color: rgb(170, 0, 255);
        color: white;
        cursor: pointer;
}}